{% extends "base.html" %}

{% load humanize %}

{% block title %} {{object.name}} {% endblock %}

{% block content %}

    <div class="container main-container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">

            <!-- Categories -->
            {% block categories %}
              {{ block.super }}
            {% endblock %}
            <!-- End Categories -->

          <!-- Best Sellers -->
            {% block best_sellers %}
              {{ block.super }}
            {% endblock %}
          <!-- End Best Seller -->

        </div>

        <div class="clearfix visible-sm"></div>

      <!-- Category View -->
          <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="col-lg-12 col-sm-12">
                <span class="title"> {{object.name|upper}} CATALOGUE</span>
              </div>

          {% for product in object.products.all %}

              <div class="col-lg-4 col-sm-4 hero-feature text-center">
                  <div class="thumbnail">
                    <a href="{% url 'products:detail' product.id %}" class="link-p">
                        <img src="{{ product.images.first.photo.url }}" alt="">
                    </a>
                      <div class="caption prod-caption">
                        <h4><a href="{% url 'products:detail' product.id %}">{{ product.name }}</a></h4>
                        <p>{{ product.description }}</p>
                        <p>
                          <div class="btn-group">
                            <a href="{% url 'products:detail' product.id %}" class="btn btn-default">Ksh {{ product.price|intcomma }}</a>
                          </div>
                        </p>
                      </div>
                  </div>
              </div>

          {% endfor %}

        {# TODO: Fix pagination appearing on center #}
        <div class="text-center">
          <ul class="pagination catalogue-pagination">
            <li class="disabled"><a>First</a></li>
            <li class="disabled"><a>Prev</a></li>
            <li class="active"><a href="catalogue.html#">1</a></li>
            <li><a href="catalogue.html#">2</a></li>
            <li><a href="catalogue.html#">3</a></li>
            <li><a href="catalogue.html#">4</a></li>
            <li><a href="catalogue.html#">Next</a></li>
            <li><a href="catalogue.html#">Last</a></li>
          </ul>
        </div>
          </div>
          <!-- End Category View -->


        </div>
  </div>
{% endblock %}
