{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}
  <div class="container main-container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Contact Us</h1>

        <p class="text-center">For any query, question or complaint, <br/>
        Please contact us via the form below and we will get back to you as soon as possible</p>
        <div>
          {% comment %} TODO: Replace with something based on Django {% endcomment %}
        </div>
        <br>
      </div>
    </div>
  </div>
{% endblock content %}