{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}
  <div class="container main-container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Contact Us</h1>

        <p class="text-center">For any query, question or complaint, <br/>
        Please contact us via the form below and we will get back to you as soon as possible</p>
        <div>
          <iframe src="https://docs.google.com/forms/d/1lRrEIVJFSpj-VB0Z6X0gDzOTDvnZ45hDtQ38aim38vA/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        </div>
        <br>
      </div>
    </div>
  </div>
{% endblock content %}