{% extends "base.html" %}

{% load humanize static store_extras %}

{% block title %} {{object.name}} {% endblock %}

{% block head_css %}
	{{ block.super }} 
	<link href="{% static "css/star-rating.min.css" %}" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

    <div class="container main-container">
        <div class="row">
        	<div class="col-lg-3 col-md-3 col-sm-12">

				  <!-- Best Sellers -->
          {% block best_sellers %}
            {{ block.super }}
          {% endblock %}
          <!-- End Best Seller -->

        	</div>

        	<div class="clearfix visible-sm"></div>

			<!-- Product Detail -->
        	<div class="col-lg-9 col-md-9 col-sm-12">
        		<div class="col-lg-12 col-sm-12">
            		<span class="title">{{object.name}}</span>
            	</div>
	            <div class="col-lg-12 col-sm-12 hero-feature">

	            	<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6">
			            	<!-- Main Image -->
							<div class="product-main-image-container">
								<img src="{% static "images/loader.gif" %}" alt="" class="product-loader">
								<span class="thumbnail product-main-image">
									<img src="{{ main_image.photo.url }}" alt="">
								</span>
							</div>
							<!-- End Main Image -->

							<!-- Thumbnail Image -->
              {% for image in images %}
  							<div class="col-xs-3 product-thumb-image">
  								<a href="{{ image.photo.url }}" class="thumbnail">
  									<img src="{{ image.photo.url }}" alt="">
  								</a>
  							</div>
              {% endfor %}

							<!-- End Thumbnail Image -->
						</div>

						<div class="visible-xs">
							<div class="clearfix"></div>
						</div>

						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="well product-short-detail">
								<div class="row">
									<div class="the-list">
										<h3 class="col-xs-12">
											<!-- <span class="price-old">$169</span> -->
											Ksh {{object.price|intcomma}}
										</h3>
									</div>
                    <p class="text-center"> {{object.description}} </p>
									<div class="clearfix"></div>
                  <hr>
									<div class="col-xs-12 input-qty-detail">
                    {# <p class="text-left">  </p> #}
                    <form class="form-inline">
                      <div class="form-group">
                        <label for="quantity" class="pull-left text-left">QUANTITY:</label>
                        <input type="text" id="quantity "class="form-control input-qty text-center" value="1">
                        <button class="btn btn-default btn-success">
                          <i class="fa fa-shopping-cart"></i>  Buy  
                        </button>
                      </div>
                    </form>
									</div>
									<div class="clearfix"></div>
                  <hr>
                  <div class="col-xs-12 col-xs-offset-2">
                    <span class='st_sharethis_large' displayText='ShareThis'></span>
                    <span class='st_facebook_large' displayText='Facebook'></span>
                    <span class='st_twitter_large' displayText='Tweet'></span>
                    <span class='st_googleplus_large' displayText='Google +'></span>
                    <span class='st_pinterest_large' displayText='Pinterest'></span>
                    <span class='st_email_large' displayText='Email'></span>
                  </div>
								</div>
							</div>
						</div>

						<div class="clearfix"></div><br clear="all"/>

						<div class="col-xs-12 product-detail-tab">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs">
								<li class="active"><a href="#desc" data-toggle="tab">Description</a></li>
								<li><a href="#detail" data-toggle="tab">Details</a></li>
								<li><a href="#review" data-toggle="tab">Reviews</a></li>
							</ul>

							<!-- Tab panes -->
							<div class="tab-content">
								<div class="tab-pane active" id="desc">
									<div class="well">
										<p> {{object.description|linebreaksbr}} </p>
									</div>
								</div>
								<div class="tab-pane" id="detail">
									<div class="well">
											{% for spec in specs %}
												<h4>{{spec.title}}</h4>
												<p>{{spec.details|linebreaksbr}}</p>
											{% endfor %}
									</div>
								</div>
								<div class="tab-pane" id="review">
									<div class="well">
									{% for review in reviews %}
										<div class="media">
											<span class="pull-left">
												<img class="media-object" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+">
												<div class="product-rating">
													{% for star in review.rating|make_range %}
														<i class="fa fa-star"></i>
													{% endfor %}
												</div>
											</span>
											<div class="media-body">
												<h5 class="media-heading"><strong>{{review.name}}</strong></h5>
												{{review.text}}
											</div>
										</div>
									{% endfor %}
										<hr/>
                    <div id='review-area'>
                      <h4>Add your review</h4>
                      <form role="form" id='review-form' method="post" action="{% url 'products:review' %}">
                      	{% csrf_token %}
                      		{# product is a hidden field #}
                      		{{form.product}}
                          <div class="form-group" id="form-group-rating">
                              <input id="id-rating" type="number" class="rating" min="0" max="5" step="1"
                                      data-size="sm" data-symbol="&#xf005;" data-glyphicon="false"
                                      data-rating-class="rating-fa" name="rating" required />
                          </div>
                          <div class="form-group" id="form-group-name">
                              {{ form.name }}
                          </div>
                          <div class="form-group" id="form-group-text">
                          		{{form.text}}
                          </div>
                          <button type="submit" class="btn btn-default">Submit Review</button>
                      </form>
                    </div>
									</div>
								</div>
							</div>
						</div>
					</div>

          </div>
          <div class="clearfix"></div>
          <div class="col-lg-12 col-sm-12">
        		<span class="title">RELATED PRODUCTS</span>
        	</div>

        	{% for item in related %}
        	<div class="col-lg-4 col-sm-4 hero-feature text-center">
              <div class="thumbnail">
              	<a href="{{item.get_absolute_url }}" class="link-p">
                  	<img src="{{item.images.first.photo.url}}" alt="">
              	</a>
                  <div class="caption prod-caption">
                      <h4><a href="{{item.get_absolute_url }}"> {{item.name}} </a></h4>
                      <p>{{item.description}}</p>
                      <p>
                      	<div class="btn-group">
                        	<a href="{{item.get_absolute_url }}" class="btn btn-default">
                        	Ksh {{item.price}}</a>
                        	
                      	</div>
                      </p>
                  </div>
              </div>
          </div>
         {% endfor %}
    	</div>
    <!-- End Product Detail -->

        </div>
	</div>
{% endblock %}

{% block footer_links %}
  <script src="{% static "js/jquery.js" %}"></script>
  <script src="{% static "js/bootstrap.js" %}"></script>
  <script src="{% static "js/jquery.validate.min.js" %}"></script>
  <script src="{% static "js/jquery.blImageCenter.min.js" %}"></script>
  <script src="{% static "js/bootstrap.touchspin.js" %}"></script>
  <script src="{% static "js/jquery.zoom.min.js" %}"></script>
  <script src="{% static "js/mimity.js" %}"></script>
  <script src="{% static "js/scripts.js" %}"></script>
  <script src="{% static "js/star-rating.min.js" %}" type="text/javascript"></script>
  <script type="text/javascript">
  	$("#id-rating").rating();
  </script>
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="https://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "d5314c89-c89f-4d5d-ae69-f00924c66932", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
{% endblock footer_links %}
