{% extends "base.html" %}

{% load humanize static store_extras %}

{% block title %} {{object.name}} {% endblock %}

{% block head_css %}
	{{ block.super }} 
	<link href="{% static "css/star-rating.min.css" %}" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

    <div class="container main-container">
        <div class="row">
        	<div class="col-lg-3 col-md-3 col-sm-12">

				<!-- Best Seller -->
				<div class="col-lg-12 col-md-12 col-sm-12 visible-lg visible-md">
					<div class="no-padding">
	            		<span class="title">BEST SELLER</span>
	            	</div>
		                <div class="thumbnail col-lg-12 col-md-12 col-sm-6 text-center">
		                	<a href="detail.html" class="link-p">
		                    	<img src="images/product-8.jpg" alt="">
		                	</a>
		                    <div class="caption prod-caption">
		                        <h4><a href="detail.html">Penn State College T-Shirt</a></h4>
		                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, minima!</p>
		                        <p>
		                        	<div class="btn-group">
			                        	<a href="detail.html#" class="btn btn-default">$ 528.96</a>
			                        	
		                        	</div>
		                        </p>
		                    </div>
		                </div>
		                <div class="thumbnail col-lg-12 col-md-12 col-sm-6 hidden-xs text-center">
		                	<a href="detail.html" class="link-p">
		                    	<img src="images/product-9.jpg" alt="">
		                	</a>
		                    <div class="caption prod-caption">
		                        <h4><a href="detail.html">Ohio State College T-Shirt</a></h4>
		                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, minima!</p>
		                        <p>
		                        	<div class="btn-group">
			                        	<a href="detail.html#" class="btn btn-default">$ 924.25</a>
			                        	
		                        	</div>
		                        </p>
		                    </div>
		                </div>
				</div>
				<!-- End Best Seller -->

        	</div>

        	<div class="clearfix visible-sm"></div>

			<!-- Product Detail -->
        	<div class="col-lg-9 col-md-9 col-sm-12">
        		<div class="col-lg-12 col-sm-12">
            		<span class="title">{{object.name}}</span>
            	</div>
	            <div class="col-lg-12 col-sm-12 hero-feature">

	            	<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6">
			            	<!-- Main Image -->
							<div class="product-main-image-container">
								<img src="{% static "images/loader.gif" %}" alt="" class="product-loader">
								<span class="thumbnail product-main-image">
									<img src="{{ main_image.photo.url }}" alt="">
								</span>
							</div>
							<!-- End Main Image -->

							<!-- Thumbnail Image -->
              {% for image in images %}
  							<div class="col-xs-3 product-thumb-image">
  								<a href="{{ image.photo.url }}" class="thumbnail">
  									<img src="{{ image.photo.url }}" alt="">
  								</a>
  							</div>
              {% endfor %}

							<!-- End Thumbnail Image -->
						</div>

						<div class="visible-xs">
							<div class="clearfix"></div>
						</div>

						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="well product-short-detail">
								<div class="row">
									<div class="the-list">
										<h3 class="col-xs-12">
											<!-- <span class="price-old">$169</span> -->
											Ksh {{object.price|intcomma}}
										</h3>
									</div>
									<div class="the-list">
										<div class="col-xs-4">Availability</div>
										<div class="col-xs-8">
											<!-- <span class="red">OUT OF STOCK</span> -->
											<span class="green">98 items in stock</span>
										</div>
									</div>
									<div class="the-list">
										<div class="col-xs-4">Select</div>
										<div class="col-xs-8">
											<select class="form-control">
												<option value="">Select Option</option>
												<option value="option1">Option 1</option>
												<option value="option2">Option 2</option>
												<option value="option3">Option 3</option>
											</select>
										</div>
									</div>
									<div class="the-list">
										<div class="col-xs-4">Checkbox</div>
										<div class="col-xs-8">
											<label>
												<input type="checkbox" value="check1"> Check 1
											</label>&nbsp;
											<label>
												<input type="checkbox" value="check2" checked> Check 2
											</label>
										</div>
									</div>
									<div class="the-list">
										<div class="col-xs-4">Radio</div>
										<div class="col-xs-8">
											<label>
												<input type="radio" name="radio" value="radio1" checked> Radio 1
											</label>&nbsp;
											<label>
												<input type="radio" name="radio" value="radio2"> Radio 2
											</label>
										</div>
									</div>
									<div class="clearfix"></div>
									<hr/>
									<div class="col-xs-12 input-qty-detail">
										<input type="text" class="form-control input-qty text-center" value="1">
										<button class="btn btn-default pull-left"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
									</div>
									<div class="clearfix"></div><br/>
									<div class="col-xs-12 add-to-detail">
										<div class="row">
										<div class="col-xs-6 text-center">
											<a href="compare.html"><i class="fa fa-list"></i> Add to Compare</a>
										</div>
										<div class="col-xs-6 text-center">
											<a href="http://demo.18maret.com/demo/mimity/v1.2/wishlist.html"><i class="fa fa-heart"></i> Add to Wishlist</a>
										</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="clearfix"></div><br clear="all"/>

						<div class="col-xs-12 product-detail-tab">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs">
								<li class="active"><a href="#desc" data-toggle="tab">Description</a></li>
								<li><a href="#detail" data-toggle="tab">Details</a></li>
								<li><a href="#review" data-toggle="tab">Reviews</a></li>
							</ul>

							<!-- Tab panes -->
							<div class="tab-content">
								<div class="tab-pane active" id="desc">
									<div class="well">
										<p> {{object.description|linebreaksbr}} </p>
									</div>
								</div>
								<div class="tab-pane" id="detail">
									<div class="well">
											{% for spec in specs %}
												<h4>{{spec.title}}</h4>
												<p>{{spec.details|linebreaksbr}}</p>
											{% endfor %}
									</div>
								</div>
								<div class="tab-pane" id="review">
									<div class="well">
									{% for review in reviews %}
										<div class="media">
											<span class="pull-left">
												<img class="media-object" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+">
												<div class="product-rating">
													{% for star in review.rating|make_range %}
														<i class="fa fa-star"></i>
													{% endfor %}
												</div>
											</span>
											<div class="media-body">
												<h5 class="media-heading"><strong>{{review.name}}</strong></h5>
												{{review.text}}
											</div>
										</div>
									{% endfor %}
										<hr/>
                    <div id='review-area'>
                      <h4>Add your review</h4>
                      <form role="form" id='review-form' method="post" action="{% url 'products:review' %}">
                      	{% csrf_token %}
                      		{# product is a hidden field #}
                      		{{form.product}}
                          <div class="form-group" id="form-group-rating">
                              <input id="id-rating" type="number" class="rating" min="0" max="5" step="1"
                                      data-size="sm" data-symbol="&#xf005;" data-glyphicon="false"
                                      data-rating-class="rating-fa" name="rating" required />
                          </div>
                          <div class="form-group" id="form-group-name">
                              {{ form.name }}
                          </div>
                          <div class="form-group" id="form-group-text">
                          		{{form.text}}
                          </div>
                          <button type="submit" class="btn btn-default">Submit Review</button>
                      </form>
                    </div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
						<a class="addthis_button_preferred_1"></a>
						<a class="addthis_button_preferred_2"></a>
						<a class="addthis_button_preferred_3"></a>
						<a class="addthis_button_preferred_4"></a>
						<a class="addthis_button_compact"></a>
					</div>
					<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=xa-4f0c254f1302adf8"></script>
	             -->
	            </div>
	            <div class="clearfix"></div>
	            <div class="col-lg-12 col-sm-12">
            		<span class="title">RELATED PRODUCTS</span>
            	</div>

            	{% for item in related %}
            	<div class="col-lg-4 col-sm-4 hero-feature text-center">
	                <div class="thumbnail">
	                	<a href="{{item.get_absolute_url }}" class="link-p">
	                    	<img src="{{item.images.first.photo.url}}" alt="">
	                	</a>
	                    <div class="caption prod-caption">
	                        <h4><a href="{{item.get_absolute_url }}"> {{item.name}} </a></h4>
	                        <p>{{item.description}}</p>
	                        <p>
	                        	<div class="btn-group">
		                        	<a href="{{item.get_absolute_url }}" class="btn btn-default">
		                        	Ksh {{item.price}}</a>
		                        	
	                        	</div>
	                        </p>
	                    </div>
	                </div>
	            </div>
	           {% endfor %}
        	</div>
        	<!-- End Product Detail -->

        </div>
	</div>
{% endblock %}

{% block footer_links %}
  <script src="{% static "js/jquery.js" %}"></script>
  <script src="{% static "js/bootstrap.js" %}"></script>
  <script src="{% static "js/jquery.validate.min.js" %}"></script>
  <script src="{% static "js/jquery.blImageCenter.js" %}"></script>
  <script src="{% static "js/bootstrap.touchspin.js" %}"></script>
  <script src="{% static "js/jquery.zoom.min.js" %}"></script>
  <script src="{% static "js/mimity.js" %}"></script>
  <script src="{% static "js/scripts.js" %}"></script>
  <script src="{% static "js/star-rating.min.js" %}" type="text/javascript"></script>
  <script type="text/javascript">
  	$("#id-rating").rating();
  </script>
{% endblock footer_links %}
